@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
  background-color: #272727;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

header {
  position: relative;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.navbar {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  img {
    width: 75% !important;
    max-width: 100%;
    height: auto;
  }
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  color: #aeb1b2;
  margin: 0 15px;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  color: white;
  margin: 0 10px;
}

.header-image {
  background-image: url("/assets/images/cover-photo.png");
  background-size: cover;
  background-position: center;
  height: 430px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.header-image:after {
  content: "";
  background-color: #272727;
  display: block;
  width: 120%;
  height: 109px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: -47px;
  transform: rotate(1deg);
}

.search-area {
  z-index: 1;
  top: 50px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.search-area-box {
  background-color: #0b161d;
  background-image: linear-gradient(to right, #0b161d, #454f56);
  height: 45px;
  border-radius: 45px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.search-nav-items-area {
  display: flex;
  padding: 0px 10px;
  justify-content: space-evenly;
  width: calc(100% - 45px);
}

.search-nav-items {
  display: flex;
  color: #ffffff;
  align-items: center;
  div:nth-child(2) {
    margin: 0px 5px;
  }
  div:nth-child(3) {
    color: #aeb1b2;
  }
  cursor: pointer;
}

.search-icon {
  background-image: linear-gradient(to bottom, #fe4b1a, #ff7604);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-area {
  background-color: #ff7b02;
  background-image: linear-gradient(to right, #ff7b02, #ff4b19);
  height: 45px;
  border-radius: 45px;
  width: 50%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  font-size: 14px;

  input {
    color: #ffffff;
    border: none;
    outline: none;
    background: transparent;
    width: 470px;
  }

  input::placeholder{
    color: #ffffffab;
  }
}

.header-text-area {
  height: 300px;
  line-height: 0.5;
  font-size: 22px;
  width: 35%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  position: relative;
  top: 390px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 75%;
}

.main-headline-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-headline-area {
  div {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
  }
  button {
    color: #ebebeb;
    background-color: #323232;
    border: 1px solid #696969;
    border-radius: 7px;
    padding: 10px;
  }
}

.trending-area {
  padding-top: 15px;
}

.trending-area {
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }

  .column {
    img {
      max-width: 100%;
      border-radius: 7px;
      margin-left: 2px;
    }
  }
}

.trending-image-area {
  position: relative;
}

.trending-image-area {
  .discount-tag {
    bottom: 0px;
    left: -2px;
    position: absolute;
  }
}

.discount-tag {
  width: 55px;
  height: 25px;
  background-color: #ff5400;
  -webkit-clip-path: path("M 0 0 L 0 25 L 55 25 L 50 0 z");
  clip-path: path("M 0 0 L 0 25 L 55 25 L 50 0 z");
  border-bottom-right-radius: 6px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}

.trending-text-area {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 5px 0px;
  font-size: 14px;
  align-items: center;
}

.trending-text-area {
  .price-text {
    font-size: 18px;
  }
}

.price-text {
  font-family: "Nunito", sans-serif;
}

.display-flex {
  display: flex;
}

.special-tag {
  border: 1px solid #616161;
  color: #616161;
  border-radius: 3px;
  font-size: 10px;
  align-items: center;
  padding: 2px;
  margin-right: 5px;
  font-weight: 500;
}

.child-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.child-menu-content {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 634.5px;
}

#openModalBtn {
  z-index: 1;
  position: relative;
}

.child-menu-title {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
}

.child-menu-title {
  div:nth-child(1) {
    font-weight: 500;
  }
}

.child-menu-platforms {
  padding: 15px 0px;

  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
  }

  .column {
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .column:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
  }
}

.child-menu-cards {
  padding: 15px 0px 0px 0px;

  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;

    img {
      max-width: 100%;
      height: 35px;
      margin-bottom: 10px;
    }
  }

  .column:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
  }
}
