body {
  background-color: #272727;
  margin: 0px;
}

header {
  position: relative;
}

.navbar {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 1rem;
}

.navbar-brand {
  // color: white;
  // font-size: 1.5rem;
  // margin-right: 50px;

  img {
    width: 75% !important;
    max-width: 100%;
    height: auto;
  }
}

.navbar-nav {
  margin: auto;
  flex-direction: row;
}

.nav-link {
  color: white;
  margin: 0 15px;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  color: white;
  margin: 0 10px;
}

.header-image {
  background-image: url("/assets/images/cover-photo.png");
  background-size: cover;
  background-position: center;
  height: 430px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header-image:after {
  content: "";
  background-color: #272727;
  display: block;
  width: 120%;
  height: 109px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: -47px;
  transform: rotate(1deg);
}

.search-area {
  z-index: 1;
  top: 50px;
}

.search-area-box {
  background-color: #0a141a;
  background-image: linear-gradient(to right, #0a141a, #38444c);
  height: 50px;
  border-radius: 50px;
}

.header-text-area {
  z-index: 1;
  height: 300px;
  line-height: 0.5;
  font-size: 22px;
  width: 35%;
}
