body {
  background-color: #272727;
  margin: 0px;
}

header {
  position: relative;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.navbar {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  img {
    width: 75% !important;
    max-width: 100%;
    height: auto;
  }
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  color: #aeb1b2;
  margin: 0 15px;
}

.nav-link:hover {
  color: #f8f9fa;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  color: white;
  margin: 0 10px;
}

.header-image {
  background-image: url("/assets/images/cover-photo.png");
  background-size: cover;
  background-position: center;
  height: 430px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.header-image:after {
  content: "";
  background-color: #272727;
  display: block;
  width: 120%;
  height: 109px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: -47px;
  transform: rotate(1deg);
}

.search-area {
  z-index: 1;
  top: 50px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.search-area-box {
  background-color: #0b161d;
  background-image: linear-gradient(to right, #0b161d, #454f56);
  height: 50px;
  border-radius: 50px;
  width: 50%;
}

.header-text-area {
  z-index: 1;
  height: 300px;
  line-height: 0.5;
  font-size: 22px;
  width: 35%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  position: relative;
  top: 390px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 75%;
}

.main-headline-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-headline-area {
  div {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
  }
  button {
    color: #ebebeb;
    background-color: #323232;
    border: 1px solid #696969;
    border-radius: 7px;
    padding: 10px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.column {
  img {
    max-width: 100%;
    border-radius: 7px;
    margin-left: 2px;
  }
}

.trending-image-area {
  position: relative;
}

.trending-image-area {
  .discount-tag {
    bottom: 0px;
    left: -2px;
    position: absolute;
  }
}

.discount-tag {
  width: 55px;
  height: 25px;
  background-color: #ff5400;
  -webkit-clip-path: path("M 0 0 L 0 25 L 55 25 L 50 0 z");
  clip-path: path("M 0 0 L 0 25 L 55 25 L 50 0 z");
  border-bottom-right-radius: 6px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}
